main,
header,
aside,
footer {
  border: 1px solid black;
  margin: 0.5rem;
  /* padding: 1em; */
}

header {
  display: flex;
  justify-content: space-between;
  /* flex: 100px; */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#nav-link {
  float: right;
  /* display: flex; */
}

#nav-link > li,
#nav-link > form {
  display: inline;
  padding: 0 0.5em;
}

#nav-link > li {
  /* text-align: center; */
  align-items: stretch;
}

main {
  display: flex;
  /* padding: 0 1em 0 1em; */
}

h1 {
  margin: 0;
  padding: 0;
  float: left;
}

nav {
  float: right;
  display: inherit;
  align-items: center;
}

aside {
  width: 30%;
  padding: 0 1rem;
}

#aside-link > li {
  padding: 0.5em 0;
}

#form-practice{
  width: 80%;
}

@media screen and (max-width: 700px) {
  header,
  main {
    flex-direction: column;
  }

  #nav-link > li,
  #nav-link > form {
    display: block;
    margin: auto;
  }

  aside {
    width: auto;
  }
}
